{% extends "gamestore/main.html" %}

{% block title %} Game store home page {% endblock %}

{% block content %}
    <h4 class="center-align">Welcome to Game Store</h4>
    <p class="flow-text center-align">This is a prototype of a game store built as part of Aalto University course CS-C3170 - Web Software Development. The purpose of this website is to host platform for game developers to publish and "sell" their JavaScript games to players. Developers can add their games to the service and set a price for it. Players can "buy" games on the platform and then play purchased games online.</p>
    <br>
    <p class="flow-text center-align">Enjoy the gaming!</p>
{% endblock %}