<?xml version="1.0" encoding="utf-8"?>
<manifest package="fi.aalto.cs.e4100.g09.project1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AppsListActivity"
            android:label="@string/title_activity_apps_list"
            android:parentActivityName=".app.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.aalto.cs.e4100.g09.project1.app.LoginActivity"/>
        </activity>
        <activity
            android:name="com.coboltforge.dontmind.multivnc.VncCanvasActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="vnc"/>
            </intent-filter>
        </activity>
    </application>

</manifest>